*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(132, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.background{
    width: 100%;
    height: 30%;
    background-color: rgb(81, 240, 187);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url("https://i.imgflip.com/4/70zl0h.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.white{
    width: 100%;
    height: 40%;
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.logout{
    width: 100%;
    height: 20%;
    background-color: gold;
    display: flex;
}
button{
    width: 100%;
    height: 10%;
    background-color: blue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}